<!DOCTYPE html>
<html>
  <head>
    <title>MyTello</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="flex flex-col h-screen overflow-hidden">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flash' if notice %>
      <div class="overflow-auto h-full bg-blue-300">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
